**/__pycache__**/
**/*.DS_Store
venv/
.venv
**/*.code-workspace
**/**.vscode/
**/**.code-workspace

*.json
projects/
temp-json/
temp-files/

static/TTSaudio/
extensions/whisperSpeechRecognition/static/WhisperAudio/
python_tools/data
extensions/documentation
**/**.log**
!extensions/documentation/
!extensions/whisperSpeechRecognition/
!extensions/load_extensions.py
!extensions/install_requirements.sh
!extensions/install_requirements.ps1

*.txt
.env