[submodule "StringEx"]
	path = extensions/StringEx
	url = https://github.com/menchelab/StringEx
[submodule "ExampleExtension"]
	path = extensions/ExampleExtension
	url = https://github.com/menchelab/ExampleExtension
[submodule "ProteinStructureFetch"]
	path = extensions/ProteinStructureFetch
	url = https://github.com/menchelab/ProteinStructureFetch
