**/__pycache__**/
**/*.DS_Store
venv/
.venv
**/*.code-workspace
**/**.vscode/
**/**.code-workspace

projects/
temp-json/
temp-files/
*.json

openAI_KEY_doNOTcommit.txt
HF_token_doNOTcommit.txt

static/TTSaudio/
extensions/whisperSpeechRecognition/static/WhisperAudio/
python_tools/data
extensions/documentation
**/**.log**
!extensions/documentation/
!extensions/whisperSpeechRecognition/
!extensions/load_extensions.py
!extensions/install_requirements.sh
!extensions/install_requirements.ps1

extensions/languageUI/LUI_funcs/OpenAI_token_doNOTcommit.txt
HF_token_doNOTcommit.txt
temp_files/Teapot.json
