**/__pycache__**/
**/*.DS_Store
venv/
.venv
**/*.code-workspace
**/**.vscode/
**/**.code-workspace

projects/
temp-json/

openAI_KEY_doNOTcommit.txt
static/TTSaudio/
extensions/whisperSpeechRecognition/static/WhisperAudio/
python_tools/data
extensions/*
**/**.log**
!extensions/documentation/
!extensions/whisperSpeechRecognition/
!extensions/load_extensions.py
!extensions/install_requirements.sh
!extensions/install_requirements.ps1
HF_token_doNOTcommit.txt
temp_files/Teapot.json
