[submodule "extensions/ExampleExtension"]
	path = extensions/ExampleExtension
	url = https://github.com/menchelab/ExampleExtension
[submodule "extensions/StringEx"]
	path = extensions/StringEx
	url = https://github.com/menchelab/stringex
[submodule "extensions/ProteinStructureFetch"]
	path = extensions/ProteinStructureFetch
	url = https://github.com/menchelab/ProteinStructureFetch
