wheel
Flask_SocketIO==4.3.1
python-engineio==3.13.2
python-socketio==4.6.0
Flask==2.0.0
Flask-Sockets
Werkzeug==2.0.0
requests
flask_cors
Pillow >= 8.3.2
gunicorn
numpy==1.25
beautifulsoup4
plotly
pandas
networkx
matplotlib
scipy
scikit-learn
pymysql
shapely
cartoGRAPHs
urllib3==1.26.6
#--find-links https://download.pytorch.org/whl/torch_stable.html
#torch==1.13.1+cu116
#whisper
#openai-whisper
playsound
PyDub 
pyttsx3
openai
igraph
uvicorn
umap-learn
nltk
rapidfuzz
pyspellcheckerPackage                                           Version
------------------------------------------------- -----------
annotated-types                                   0.7.0
anyio                                             4.12.1
appnope                                           0.1.4
asttokens                                         3.0.1
beautifulsoup4                                    4.15.0
cartoGRAPHs                                       2.0.1
certifi                                           2026.5.20
charset-normalizer                                3.4.7
click                                             8.1.8
colormath                                         3.0.0
comm                                              0.2.3
contourpy                                         1.3.0
cycler                                            0.12.1
debugpy                                           1.8.21
decorator                                         5.3.1
distro                                            1.9.0
exceptiongroup                                    1.3.1
executing                                         2.2.1
Flask                                             2.0.0
flask-cors                                        6.0.5
Flask-SocketIO                                    4.3.1
Flask-Sockets                                     0.2.1
fonttools                                         4.60.2
gevent                                            26.5.0
gevent-websocket                                  0.10.1
greenlet                                          3.2.5
gunicorn                                          23.0.0
h11                                               0.16.0
httpcore                                          1.0.9
httpx                                             0.28.1
idna                                              3.18
igraph                                            1.0.0
importlib_metadata                                8.7.1
importlib_resources                               6.5.2
ipykernel                                         6.31.0
ipython                                           8.18.1
itsdangerous                                      2.2.0
jedi                                              0.19.2
Jinja2                                            3.1.6
jiter                                             0.15.0
joblib                                            1.5.3
jupyter_client                                    8.6.3
jupyter_core                                      5.8.1
kiwisolver                                        1.4.7
llvmlite                                          0.43.0
MarkupSafe                                        3.0.3
matplotlib                                        3.9.4
matplotlib-inline                                 0.2.2
narwhals                                          2.21.0
nest-asyncio                                      1.6.0
networkx                                          3.2.1
nltk                                              3.9.2
numba                                             0.60.0
numpy                                             1.25.0
openai                                            2.41.1
packaging                                         26.2
pandas                                            2.3.3
parso                                             0.8.7
pexpect                                           4.9.0
pillow                                            11.3.0
pip                                               23.0.1
platformdirs                                      4.4.0
playsound                                         1.3.0
plotly                                            6.8.0
prompt_toolkit                                    3.0.52
psutil                                            7.2.2
ptyprocess                                        0.7.0
pure_eval                                         0.2.3
pydantic                                          2.13.4
pydantic_core                                     2.46.4
pydub                                             0.25.1
Pygments                                          2.20.0
PyMySQL                                           1.2.0
pynndescent                                       0.5.8
pyobjc                                            11.1
pyobjc-core                                       11.1
pyobjc-framework-Accessibility                    11.1
pyobjc-framework-Accounts                         11.1
pyobjc-framework-AddressBook                      11.1
pyobjc-framework-AdServices                       11.1
pyobjc-framework-AdSupport                        11.1
pyobjc-framework-AppleScriptKit                   11.1
pyobjc-framework-AppleScriptObjC                  11.1
pyobjc-framework-ApplicationServices              11.1
pyobjc-framework-AppTrackingTransparency          11.1
pyobjc-framework-AudioVideoBridging               11.1
pyobjc-framework-AuthenticationServices           11.1
pyobjc-framework-AutomaticAssessmentConfiguration 11.1
pyobjc-framework-Automator                        11.1
pyobjc-framework-AVFoundation                     11.1
pyobjc-framework-AVKit                            11.1
pyobjc-framework-AVRouting                        11.1
pyobjc-framework-BackgroundAssets                 11.1
pyobjc-framework-BrowserEngineKit                 11.1
pyobjc-framework-BusinessChat                     11.1
pyobjc-framework-CalendarStore                    11.1
pyobjc-framework-CallKit                          11.1
pyobjc-framework-Carbon                           11.1
pyobjc-framework-CFNetwork                        11.1
pyobjc-framework-Cinematic                        11.1
pyobjc-framework-ClassKit                         11.1
pyobjc-framework-CloudKit                         11.1
pyobjc-framework-Cocoa                            11.1
pyobjc-framework-Collaboration                    11.1
pyobjc-framework-ColorSync                        11.1
pyobjc-framework-Contacts                         11.1
pyobjc-framework-ContactsUI                       11.1
pyobjc-framework-CoreAudio                        11.1
pyobjc-framework-CoreAudioKit                     11.1
pyobjc-framework-CoreBluetooth                    11.1
pyobjc-framework-CoreData                         11.1
pyobjc-framework-CoreHaptics                      11.1
pyobjc-framework-CoreLocation                     11.1
pyobjc-framework-CoreMedia                        11.1
pyobjc-framework-CoreMediaIO                      11.1
pyobjc-framework-CoreMIDI                         11.1
pyobjc-framework-CoreML                           11.1
pyobjc-framework-CoreMotion                       11.1
pyobjc-framework-CoreServices                     11.1
pyobjc-framework-CoreSpotlight                    11.1
pyobjc-framework-CoreText                         11.1
pyobjc-framework-CoreWLAN                         11.1
pyobjc-framework-CryptoTokenKit                   11.1
pyobjc-framework-DataDetection                    11.1
pyobjc-framework-DeviceCheck                      11.1
pyobjc-framework-DeviceDiscoveryExtension         11.1
pyobjc-framework-DictionaryServices               11.1
pyobjc-framework-DiscRecording                    11.1
pyobjc-framework-DiscRecordingUI                  11.1
pyobjc-framework-DiskArbitration                  11.1
pyobjc-framework-DVDPlayback                      11.1
pyobjc-framework-EventKit                         11.1
pyobjc-framework-ExceptionHandling                11.1
pyobjc-framework-ExecutionPolicy                  11.1
pyobjc-framework-ExtensionKit                     11.1
pyobjc-framework-ExternalAccessory                11.1
pyobjc-framework-FileProvider                     11.1
pyobjc-framework-FileProviderUI                   11.1
pyobjc-framework-FinderSync                       11.1
pyobjc-framework-FSEvents                         11.1
pyobjc-framework-FSKit                            11.1
pyobjc-framework-GameCenter                       11.1
pyobjc-framework-GameController                   11.1
pyobjc-framework-GameKit                          11.1
pyobjc-framework-GameplayKit                      11.1
pyobjc-framework-HealthKit                        11.1
pyobjc-framework-ImageCaptureCore                 11.1
pyobjc-framework-InputMethodKit                   11.1
pyobjc-framework-InstallerPlugins                 11.1
pyobjc-framework-InstantMessage                   11.1
pyobjc-framework-Intents                          11.1
pyobjc-framework-IntentsUI                        11.1
pyobjc-framework-IOBluetooth                      11.1
pyobjc-framework-IOBluetoothUI                    11.1
pyobjc-framework-IOSurface                        11.1
pyobjc-framework-iTunesLibrary                    11.1
pyobjc-framework-KernelManagement                 11.1
pyobjc-framework-LatentSemanticMapping            11.1
pyobjc-framework-LaunchServices                   11.1
pyobjc-framework-libdispatch                      11.1
pyobjc-framework-libxpc                           11.1
pyobjc-framework-LinkPresentation                 11.1
pyobjc-framework-LocalAuthentication              11.1
pyobjc-framework-LocalAuthenticationEmbeddedUI    11.1
pyobjc-framework-MailKit                          11.1
pyobjc-framework-MapKit                           11.1
pyobjc-framework-MediaAccessibility               11.1
pyobjc-framework-MediaExtension                   11.1
pyobjc-framework-MediaLibrary                     11.1
pyobjc-framework-MediaPlayer                      11.1
pyobjc-framework-MediaToolbox                     11.1
pyobjc-framework-Metal                            11.1
pyobjc-framework-MetalFX                          11.1
pyobjc-framework-MetalKit                         11.1
pyobjc-framework-MetalPerformanceShaders          11.1
pyobjc-framework-MetalPerformanceShadersGraph     11.1
pyobjc-framework-MetricKit                        11.1
pyobjc-framework-MLCompute                        11.1
pyobjc-framework-ModelIO                          11.1
pyobjc-framework-MultipeerConnectivity            11.1
pyobjc-framework-NaturalLanguage                  11.1
pyobjc-framework-NetFS                            11.1
pyobjc-framework-Network                          11.1
pyobjc-framework-NetworkExtension                 11.1
pyobjc-framework-NotificationCenter               11.1
pyobjc-framework-OpenDirectory                    11.1
pyobjc-framework-OSAKit                           11.1
pyobjc-framework-OSLog                            11.1
pyobjc-framework-PassKit                          11.1
pyobjc-framework-PencilKit                        11.1
pyobjc-framework-PHASE                            11.1
pyobjc-framework-Photos                           11.1
pyobjc-framework-PhotosUI                         11.1
pyobjc-framework-PreferencePanes                  11.1
pyobjc-framework-PushKit                          11.1
pyobjc-framework-Quartz                           11.1
pyobjc-framework-QuickLookThumbnailing            11.1
pyobjc-framework-ReplayKit                        11.1
pyobjc-framework-SafariServices                   11.1
pyobjc-framework-SafetyKit                        11.1
pyobjc-framework-SceneKit                         11.1
pyobjc-framework-ScreenCaptureKit                 11.1
pyobjc-framework-ScreenSaver                      11.1
pyobjc-framework-ScreenTime                       11.1
pyobjc-framework-ScriptingBridge                  11.1
pyobjc-framework-SearchKit                        11.1
pyobjc-framework-Security                         11.1
pyobjc-framework-SecurityFoundation               11.1
pyobjc-framework-SecurityInterface                11.1
pyobjc-framework-SecurityUI                       11.1
pyobjc-framework-SensitiveContentAnalysis         11.1
pyobjc-framework-ServiceManagement                11.1
pyobjc-framework-SharedWithYou                    11.1
pyobjc-framework-SharedWithYouCore                11.1
pyobjc-framework-ShazamKit                        11.1
pyobjc-framework-Social                           11.1
pyobjc-framework-SoundAnalysis                    11.1
pyobjc-framework-Speech                           11.1
pyobjc-framework-SpriteKit                        11.1
pyobjc-framework-StoreKit                         11.1
pyobjc-framework-Symbols                          11.1
pyobjc-framework-SyncServices                     11.1
pyobjc-framework-SystemConfiguration              11.1
pyobjc-framework-SystemExtensions                 11.1
pyobjc-framework-ThreadNetwork                    11.1
pyobjc-framework-UniformTypeIdentifiers           11.1
pyobjc-framework-UserNotifications                11.1
pyobjc-framework-UserNotificationsUI              11.1
pyobjc-framework-VideoSubscriberAccount           11.1
pyobjc-framework-VideoToolbox                     11.1
pyobjc-framework-Virtualization                   11.1
pyobjc-framework-Vision                           11.1
pyobjc-framework-WebKit                           11.1
pyparsing                                         3.3.2
pyspellchecker                                    0.8.4
python-dateutil                                   2.9.0.post0
python-engineio                                   3.13.2
python-socketio                                   4.6.0
pyttsx3                                           2.99
pytz                                              2026.2
pyzmq                                             27.1.0
RapidFuzz                                         3.13.0
regex                                             2026.1.15
requests                                          2.32.5
scikit-learn                                      1.6.1
scipy                                             1.13.1
seaborn                                           0.13.2
setuptools                                        82.0.1
shapely                                           2.0.7
six                                               1.17.0
sniffio                                           1.3.1
soupsieve                                         2.8.4
stack-data                                        0.6.3
texttable                                         1.7.0
threadpoolctl                                     3.6.0
tornado                                           6.5.7
tqdm                                              4.68.2
traitlets                                         5.15.1
typing_extensions                                 4.15.0
typing-inspection                                 0.4.2
tzdata                                            2026.2
umap-learn                                        0.5.12
urllib3                                           1.26.6
uvicorn                                           0.39.0
wcwidth                                           0.8.1
Werkzeug                                          2.0.0
wheel                                             0.47.0
zipp                                              3.23.1
zope.event                                        6.0
zope.interface                                    8.0.1
