<!DOCTYPE html>
<html>

<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}"></link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/atelier-cave.min.css') }}"></link>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<script>hljs.highlightAll();</script>

<script src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>


{% include 'templates.html' %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>

<body>   
    <div id="outer" style="width: auto; height: auto;">
        <a href="/doku/">BACK</a><br>
        <h5 >CHANGING NODE COLORS</h5>
        <br>
        Go to the <a href="/preview">WebGL Preview</a> and scroll down to the CLIPBOARD section<br><br>
        <img src="{{ url_for('static', filename='img/help/clipboard.jpg') }}" style="max-width: 100%;">
        <br>
        If you click on the color selector beside the<i>ADD</i> button and select a new color, the nodes the clipboard will be colorized<br>
        Let's look at the definition of that color selector in <i>static/templates/mClipboard.html</i> to see how this is done.

        <br>
        <pre><code class="html">&ltmc-colorbox id="cbColorInput"&gt&lt/mc-colorbox&gt</code></pre>
        <br>
        <i>&ltmc-colorbox&gt</i>  is a custom element that already has the inbuilt functionality to send a SocketIO message to the server when clicked.<br>
        It is defined in <i>static/templates/templates.html</i> and produces the following message:<br><br>
        <pre><code class="javascript">{'usr': 'WdaayoG7fs', 'id': 'cbColorInput', 'val': '#8cff00', 'fn': 'col'}</code></pre><br>
        This message is then received in <i>app.py</i> and the following operations are performed:<br><br>
        - the active color texture is copied and pixels extracted to an array called <i>pix_val</i><br>
        - the nodes contained in the clipboard are colorized<br>
        - a new color texture called <i>temp1.png</i> is created in <i>static/projects/myproject/layoutsRGB</i><br>
    
<pre><code class="language-python"># CLIPBOARD 
    elif message["id"] == "cbColorInput":
        # copy active color texture 
        im1 = Image.open("static/projects/"+ GD.data["actPro"]  + "/layoutsRGB/"+ GD.pfile["layoutsRGB"][int(GD.pdata["layoutsRGBDD"])]+".png","r")
        im2 = im1.copy()
        # convert rgb to hex string
        color = ImageColor.getrgb(message["val"])
        pix_val = list(im1.getdata())

        # colorize clipboard selection
        for n in GD.pdata["cbnode"]:
            id = int(n["id"])
            pix_val[id] = color
        im2.putdata(pix_val)

        # save temp texture 
        
        path = "static/projects/"+ GD.data["actPro"]  + "/layoutsRGB/temp1.png"
        im2.save(path)
        im1.close()
        im2.close()
        # send update signal to clients

        response = &#123&#125
        response["usr"] = message["usr"]
        response["fn"] = "updateTempTex"
        response["channel"] = "nodeRGB"
        response["path"] = "static/projects/"+ GD.data["actPro"]  + "/layoutsRGB/temp1.png"
        emit("ex", response, room=room)
</code></pre>
- send a response containing the path of the texture and the target channel
<br>
<pre><code class="javascript">{"usr":"ucIiknkhfh","fn":"updateTempTex","channel":"nodeRGB","path":"static/projects/C_CUBE/layoutsRGB/temp1.png"}</code></pre><br>
Here is the client - side receiver for this message in <i>'static/js/connect_SocketIO_main.js'</i>
<pre><code class="javascript">case "updateTempTex":
    if(preview)&#123
        downloadTempTexture(data["path"])
    &#125else&#123
        ue4(data["fn"], data);
    &#125
    break;</code></pre>
    <i>ue4()</i> relays the message to the vr module, where the texture is then downloaded and updated.
    <br><br><a href="/doku/">DOKU</a><br>    
</div>




</body>

</html>