<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}"></link>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



	<div style = "width: 800px; height: 400px;" >
       
		<h3 >DataDiVR Web App Documentation</h3>
        The DataDiVR Web App is a flask webserver that acts as a <i>game server</i> ( mostly referred to as "backend" - the python part) and as a frontend (all the html and js files) the user interfaces for the VR Module.
        It also has functionality that is meant to be used from a normal webbrowser (uploading files, preparing data) that can be used in conjunction with a vr session in a cross-platform approach<br>
        There is also the <a href="/preview">WebGL preview</a>, that allows the user to view and interact with networks without VR hardware directly in the browser.<br>Note that this works only up to a certain size, whereas the Unreal Engine VRModule can handle much bigger networks.<br><br>
        Here is a list of tutorials that should get you started to develop your own User Interfaces that are tailored to your data and usecases.<br><br>

        <a href="/doku/uploadFormat">Create a project</a> - using the uploader<br>
		<a href="/doku/helloflask">Hello Flask!</a> - creating a dynamic http page<br>
        <a href="/doku/websockets">Websockets</a> - communication model for multiple clients<br>
        <a href="/doku/CustomElements1">Custom Elements</a> - using HTML-Templates<br>
        <a href="/doku/dataFormat">Global and Project Data</a> - DataDiVR Dataformat<br>
        <a href="/doku/webui">WebUI</a> - communicating with the VR Module<br>
        <a href="/doku/ServerSideVar">Server Side Variable</a> - storing data on the server<br>
        <a href="/doku/manipulateTextures">Manipulate Textures</a> - colorize nodes in the network<br>
        <a href="/doku/Extentions">Blueprints</a> - making extentions for the DataDiVR<br>
        <a href="/doku/plotly">Plotly</a> - calculate Graphs on the server and render them on the client with plotly.js<br>
        <a href="/doku/Initialization">Initialization</a> <br>
        
        <a href="/doku/cytoscape">Coming soon...Cytoscape bridge</a> - passing networks between Cytoscape and the DataDiVR<br>
        <br><br>
        <img src="{{ url_for('static', filename='img/help/VRNetzerArch.jpg') }}" style="max-width: 100%;">
        <br><br>
		<h5 >Backend</h5>
        - one per session<br>
        - serves the html pages that act as user interfaces (UI) in VR<br>
        - multicast changes to the UI to all connected clients<br>
        - serves networkdata as textures<br>
        - performs analytic tasks on network data<br>
        - holds the state of the session<br><br>
        <h5 >Frontend</h5>
        - client side (can run on a different machine than server)<br>
        - one for each player<br>
        - notify server of useractions (socketIO)<br>
        - communicates with VRModul via WebUI.js ("Middleman")<br><br>
        <h5 >VRModule</h5>
        - binary, can't be changed<br>
        - has fixed api <br>
        - in game webbrowser (Chromium)<br>
        - WebUI plugin for bi directional communication with Frontend<br>
        - downloads big textures directly from server<br>
        - config file tells it which server to connect to and which html pages to load<br><br>

	</body>
</html>