<!doctype html>
<html>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}"></link>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/atelier-cave.min.css') }}"></link>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

  <script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
  <script src="{{ url_for('doku.static', filename='js/connect_socketIO_doku.js') }}"></script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
  <script>hljs.highlightAll();</script>

 <body>

  <div >
    <h5>PLOTLY</h5>
    <br>
    <a href="https://plotly.com/python/">Plotly</a> is a popular graphing library for Python and JavaScript.<br>
    This example shows how to create interactive graphs in pyhton, send their dataframes via socket.io to the clients and render them with plotly.js<br>
    <br>
      <h5>Vectorfield</h5><div class="gradient" ></div>
      <div id='chart2' style="max-width: 500px;"></div><br>
      <h5>Sankey Diagram</h5><div class="gradient"></div>
      <div id='chart1' style="max-width: 500px;"></div><br>
      <h5>Histogramm</h5><div class="gradient"></div>
      <div id='chart3' ></div><br>
      <h5>Bubblechart</h5><div class="gradient"></div>
      <div id='chart4' ></div><br>
      <h5>Scatterplot</h5><div class="gradient"></div>
      <div id='chart5' ></div><br>
      <h5>Bargraph</h5><div class="gradient"></div>
      <div id='chart'></div><br>
      <h5>Heatmap</h5><div class="gradient"></div>
      <div id='chart7'></div><br>

      {% include 'plotlyText.html' %}

  </div>

  <script>
    $(document).ready(function(){
      socket.emit("ex",{'usr': uid, 'msg': 'Barchart', 'parent': 'chart', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'sankey', 'parent': 'chart1', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'VecField', 'parent': 'chart2', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'HistRug', 'parent': 'chart3', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'timeGraph', 'parent': 'chart4', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'scatterGraph', 'parent': 'chart5', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'Barchart', 'parent': 'chart6', 'fn': 'Plotly2js'});
      socket.emit("ex",{'usr': uid, 'msg': 'Heatmap', 'parent': 'chart7', 'fn': 'Plotly2js'});
    });
  </script>
</body>

</html>