<!doctype html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
</link>
<style>
* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #272b34;
	font-family: 'Khula', sans-serif;
	font-weight: 300;
	color: white;
	line-height: 1em;
	margin: 0;
padding: 2em 1em;
}

</style>
<body>





<audio id="GPTAudio"  src="" type="audio/ogg">
    <source id = "GPTAudioS">
        Your browser does not support the audio element.
    </audio>

    <button id="gptclearbutton1" class="swagButton" onclick="clearChat()" style="float:right;">CLEAR</button>
         
           
    <img src="static/CAT_thumbs/70.png"><br>    
    <div id="gptscrollbox" class="swagBox;" style="height:400px; width:800px; overflow:auto; font-size: 30px; line-height: 150%">
    
    <font color='#13a3e9'>AI: Hello {{user}} !<br>
    I am an artificial intelligence and i also attend this conference!<br>
    I would be delighted to chat with you, and if you dont mind i have a little mission for you...<br>
    Would you like to know, what i would like you to do for me?</font>
    </div><br>
    <img src="static/CAT_thumbs/{{user}}.png"><br>
    <input id="gptText1" type="input"style= "height:100px; width:600px; overflow:auto;  font-size: 40px;"></input><button id="searchbutton1" class="swagButton" style="height:100px; width:200px; font-size: 40px;" onclick=gptChatQuery()>SEND</button> 
    <div id='chart' class='chart'”></div>
</body>

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script type='text/javascript'>
var graphs = {{graphJSON | safe}};
Plotly.plot('chart',graphs,{});

//var user_data = JSON.parse({{user|tojson}}); // get the input data called user

function clearChat(){
    document.getElementById("gptscrollbox").innerHTML = '';
}

function gptChatQuery(){
    var text = document.getElementById("gptText1").value;
    gptQuery(text)
}

function gptQuery(text){
    //var text = document.getElementById("gptText1").value;
    var chatwin = document.getElementById("gptscrollbox");
    var chat = chatwin.innerHTML + " HUMAN: " + text + " AI: ";
   
    fetch("/GPT", {
            method: "POST",
            body: JSON.stringify({
                //userId: uid,
                text: chat.replace("<br>", "\\n"),
                completed: false
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            })
            .then((response) => response.json())
            .then((json) => {
                //console.log(json.text);
                // SET CHAT DIV
                chatwin.innerHTML += "<br> <font color='#9900FF'>HUMAN: " + text + "</font>"; 
                chatwin.innerHTML += "<br><font color='#13a3e9'> AI: " + json.text + "</font>";
                chatwin.scrollTop =  chatwin.scrollHeight;  
                /*
                if (json.text.indexOf('[') > -1) {
                    json.text = json.text.substring(json.text.indexOf("["));
                    console.log("is a list! sending it to server");
                    console.log(json.text);
                }
                */
                var source = document.getElementById('GPTAudioS');
                // load and play texttospeech audio
                var audio = document.getElementById("GPTAudio");
                path =  "http://127.0.0.1:5000/static/TTSaudio/177.ogg"; //+ json.audiofile;
                audio.src = path;
                audio.load();
                audio.play();
                

            });
    }
</script>
</html>