<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}"></link>


    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
    
    <script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
    <script src="{{ url_for('static', filename='js/connect_socketIO_main.js') }}"></script>

    {% include 'templates.html' %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>

    .row {
        display: flex;
    }
    .column {
        flex: 12%;
        padding: 1px;
    }

    html,body { 
    background-color: transparent;
    overflow: hidden;
    }
</style>


<body class="unselectable" style="width:1750px">



    <div id="main" class="row" style="background-color:rgba(170, 170, 170, 0); overflow: hidden;">

        <div id = "outer"class="column">
            <div style="width: 426px; height:100vh; overflow-y:auto;  overflow-x:hidden">
                
                {% include 'mProject.html' %}
                {% include 'mSliders.html' %}
            
                
                
            </div>
        </div>

        <div class="column" style="background-color:rgba(187, 187, 187, 0);">

            <div style="width: 426px; height:100vh; overflow-y:auto;  overflow-x:hidden">
                <br>
                {% include 'mLegend.html' %}
                {% include 'mChat.html' %}
                <!-- {% include 'mDebug.html' %} -->
            </div>

        </div>

        <div class="column" style="background-color:rgba(187, 187, 187, 0);">

            <div style="width: 426px; height:100vh; overflow-y:auto;  overflow-x:hidden">
                <br>
                {% include 'mCartographs.html' %}
                {% include 'mConnections.html' %}
                {% include 'mAnalytics.html' %}
            </div>

        </div>

        <div class="column" style="background-color:rgba(187, 187, 187, 0);">

            <div style="width: 426px; height:100vh; overflow-y:auto;  overflow-x:hidden">
                <br>

                {% include 'mSelections.html' %}
                {% include 'mNodesearch.html' %}
                {% include 'mClipboard.html' %}        
                {% include 'mNodeinfo.html' %}
                <br>
                <input id="toggle-rec-btn" type="checkbox" ></input>
               
                <div class="select">
                    <label for="audioSource">Audio input source: </label><select id="audioSource"></select>
                </div>
            </div>

        </div>

    </div>
     
</body>



<script>
    // MAKE TRANSPARENT BACKGROUND WHEN USER AGENT == UE4
    /*
    const audioInputSelect = document.querySelector('select#audioSource');
    const selectors = [audioInputSelect];
    function gotDevices(deviceInfos) {

            for (let i = 0; i !== deviceInfos.length; ++i) {
                const deviceInfo = deviceInfos[i];
                const option = document.createElement('option');
                option.value = deviceInfo.deviceId;
                if (deviceInfo.kind === 'audioinput') {
                option.text = deviceInfo.label || `microphone ${audioInputSelect.length + 1}`;
                audioInputSelect.appendChild(option);
                }
            }

            

        
    }



    console.log(navigator.userAgent);
    navigator.mediaDevices.enumerateDevices().then(gotDevices);

    const constraints = {
    audio: {deviceId: audioSource ? {exact: audioSource} : undefined},
    };
 // navigator.mediaDevices.getUserMedia(constraints).then(gotDevices).catch(handleError);


*/

    document.getElementById("browser").innerHTML = String(navigator.userAgent)
    
    if (String(navigator.userAgent).includes("UnrealEngine")){
        document.body.style.backgroundColor = "rgb(0 255 0 / 0%)";
        
    }else{
        document.body.style.backgroundColor = "rgb(0 0 0 / 100%)"; 
    }

    const uploadURL = "{{ url_for('uploadAudio') }}";
    const startButton = document.getElementById("toggle-rec-btn");
    startButton.addEventListener("click", function() {
    if (!navigator.mediaDevices) {
      console.error("getUserMedia not supported.")
      return;
    }
    //const audioSource = audioInputSelect.value;
   // const constraints = {audio: {deviceId: audioSource ? {exact: audioSource} : undefined} };
    const constraints = {audio:true};
    navigator.mediaDevices.getUserMedia(constraints)
    .then(function(stream) {
        let chunks = []
        let recorder = new MediaRecorder(stream);
        recorder.ondataavailable = event => {
            // Collect all the chunks of the recording in an array.
            chunks.push(event.data);
        };
        recorder.onstop = event => {
          console.log("Recording stopped.")
          // Create a blob with all the chunks of the recording.
          let blob = new Blob(chunks, { type: recorder.mimeType }); 
          chunks = [];
          startButton.disabled = false;

          // Create form data that contain the recording.
          let formData = new FormData();
          formData.append("audio_file", blob);

          // Send the form data to the server.
          fetch(uploadURL, {
            method: "POST",
            cache: "no-cache",
            body: formData
          }).then(resp => {
            if (resp.status === 200) {
              window.location.reload(true);
            } else {
              console.error("Error:", resp)
            }
          }).catch(err => {
            console.error(err);
          });
        };
        recorder.onstart = event => {
          console.log("Recording started.");
          startButton.disabled = true;
          // Stop recording when the time is up.
          setTimeout(function() { recorder.stop(); }, 10000);
        };
        recorder.start();
    })
    .catch(function(err) {
        console.error(err);
    });
  });


</script>
</html>