<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3); margin-bottom: 2em;">
        <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">ANNOTATIONS</h5>

        <mc-dropdown name="Annotation 1" id="annotation-1" class="GD" type="dropdown" fn="dropdown"></mc-dropdown>
        <mc-dropdown name="Annotation 2" id="annotation-2" class="GD" type="dropdown" fn="dropdown" style="display:none;"></mc-dropdown>
        <mc-dropdown name="Set Operation"  id="annotation-Operations" class="GD" type="dropdown" fn="dropdown" style="display:none;"></mc-dropdown>

        <div class="swagBoxT" style="width:398px; max-height: 380px; height:auto; overflow-y: auto; overflow-x: hidden; margin-bottom: 4px;">
            <mc-button1 class="GD" name="Operation" id="annotationOperation" fn="annotation" style="display:inline-block;"></mc-button1>
            <mc-button1 class="GD" name="RUN" id="annotationRun" fn="annotation" style="display:inline-block;"></mc-button1>            
        </div>

    </div>
</div>