
<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3);">
         
        <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            CHAT</h5>
        
        <br>
        <div class="gradient"></div>

        <div>
        <mc-TextInput style="display:block" id="chatinput" container="chatoutput" type="textinput" 
            fn="chatmessage"></mc-TextInput>
        </div>

        <div id="chatoutput" style="margin-left:10px; margin-right:10px"></div>

    </div>
</div>