
<div style="display:None">
        
    <div class="gradientBox">
        <div class='swagBox' id="clip-content" style="width:420px; background-color: rgba(16, 3, 0, 0.3);">

            <h5 style="float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">CLIPBOARD</h5>
            <br>
            <div class="gradient"></div>
            <br>
            
            <mc-button1 id="cbaddNode" name="ADD" fn="addNode" ></mc-button1>
            <mc-button1 id="cbClear" name="Clear" fn="clipboard" ></mc-button1>
            <div style="float:right;  max-width:250px; font-size: 25px; text-align:right; margin-bottom:20px; position:relative; Z-index: 1;">
                

                <mc-colorbox id="cbColorInput"></mc-colorbox>
            </div>
            <mc-scrollbox id='cbscrollbox'></mc-scrollbox>
            
            

        </div>
    </div>

</div>