<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3);">
         
        <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            CONNECTIONS</h5>
        <div id="linkL2"
            style="float:right; max-width:250px; font-size: 25px; text-align:right; margin-bottom:20px; position:relative; Z-index: 0;">
        </div>
        <br>
        <div class="gradient"></div>
        <br>
        <br>
        <mc-button1 id="showChildren" parent="" val="" name="CONNECTIONS" fn="children"></mc-button1>

        
        <mc-button1 id="plotly2jsB" parent="plotly2js" val="" name="Graph"
            fn="Plotly2js"></mc-button1>
        <mc-button1 id="plotly2jsB2" parent="plotly2js" val="" name="Barchart"
            fn="Plotly2js"></mc-button1>

        <div id="plotly2js" style="max-height: 500px; overflow-y: auto; overflow-x: hidden;"></div>
        <mc-scrollbox id = 'scrollbox3'></mc-scrollbox>

    </div>
</div>
