<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(7, 0, 18, 0.148);">

        <h5
            id="userid" style="float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            DEBUG</h5>
        <br>
        
        <div class="gradient"></div><br>
        Flask:
        <mc-scrollbox id='scrollbox_debug_0'></mc-scrollbox>
        Unreal:
        <mc-scrollbox id='scrollbox_debug_1'></mc-scrollbox>
        <br>


    </div>
</div>