<!-- Enrichment Analysis Module -->


<mc-module id="module-erichment" name="Enrichment">
    <h5 style="display:block; font-size: 25px;  color: rgb(102, 102, 102); margin-top:15px; margin-bottom:5px; margin-left:5px;">Query Set</h5>
    <div style="display:block;">
        <mc-button1 id="enrichment-import" name="Import Clipboard" fn="enrichment"></mc-button1>
        <mc-button1 id="enrichment-clear" name="Clear" fn="enrichment"></mc-button1>
    </div>
    <mc-scrollbox id="enrichment-query"></mc-scrollbox>

    <h5 style="display:block; font-size: 25px;  color: rgb(102, 102, 102); margin-top:15px; margin-bottom:5px; margin-left:5px;">Feature Set</h5>
    <span id="enrichment-note" style="color: rgb(250, 12, 12); margin-left:5px; display: none;">Warning: No annotation types provided. Upload again using annotation types for significant results.</span>
    <mc-dropdown-no-header id="enrichment-features" class="GD" type="dropdown" fn="dropdown" name="Feature Set"></mc-dropdown-no-header>

    <h5 style="display:block; font-size: 25px;  color: rgb(102, 102, 102); margin-top:15px; margin-bottom:5px; margin-left:5px;">&#945;-cutoff</h5>
    <mc-dropdown-no-header id="enrichment-cutoff" class="GD" type="dropdown" fn="dropdown" name="&#945;-cutoff"></mc-dropdown-no-header>

    <mc-button1 id="enrichment-run" name="RUN" fn="enrichment"></mc-button1>
    <br>
    <div id="enrichment-container"></div>
</mc-module>