<div class="gradientBox">
    <audio id="GPTAudio"  src="" type="audio/ogg">
    <source id = "GPTAudioS">
        Your browser does not support the audio element.
    </audio>
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3)">
        <h5
            style="float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            ChatGPT</h5>
            <button id="gptclearbutton1" class="swagButton" onclick="clearChat()" style="float:right;">CLEAR</button>
        <br><div  class="gradient"></div>
        <mc-scrollbox id='gptscrollbox'></mc-scrollbox>
           
        <mc-TextInput id="gptText1" type="textinput" fn="textinput"></mc-TextInput>
        <button id="searchbutton1" class="swagButton" onclick="gptQuery()">GO</button>   
    </div>
</div>
<script>
function clearChat(){
    document.getElementById("gptscrollbox").shadowRoot.getElementById("box").innerHTML = '';
}
function gptQuery(){
    var text = document.getElementById("gptText1").shadowRoot.getElementById("text").value;
    var chatwin = document.getElementById("gptscrollbox").shadowRoot.getElementById("box");
    var chat = chatwin.innerHTML + " HUMAN: " + text + 'and format it in the following way: ["aaa","bbb","ccc"]'+" AI: ";
   
    fetch("{{ url_for('GPT') }}", {
            method: "POST",
            body: JSON.stringify({
                userId: uid,
                text: chat.replace("<br>", "\\n"),
                completed: false
            }),
            headers: {
                "Content-type": "application/json; charset=UTF-8"
            }
            })
            .then((response) => response.json())
            .then((json) => {
                //console.log(json.text);
                // SET CHAT DIV
                chatwin.innerHTML += '<br>HUMAN: ' + text + "</font>"; 
                chatwin.innerHTML += "<br>AI: " + json.text;
                chatwin.scrollTop =  chatwin.scrollHeight;  
                
                if (json.text.indexOf('[') > -1) {
                    json.text = json.text.substring(json.text.indexOf("["));
                    console.log("is a list! sending it to server");
                    console.log(json.text);
                }
                //var source = document.getElementById('GPTAudioS');
                // load and play texttospeech audio
                var audio = document.getElementById("GPTAudio");
                path =  "http://127.0.0.1:5000/static/TTSaudio/" + json.audiofile;
                audio.src = path;
                audio.load();
                audio.play();

            });
    }
</script>

