
<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3);">
         
        <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            CHAT</h5>
        
        <br>
        <div class="gradient"></div>
            <br>
            <h5 style="color:dimgrey;">HUMAN ::</h5>
            <img src="../static/img/prompt_LBI.gif" style="margin-left:0px; max-width: 95%;"> </img>
            <h5 style="color:dimgrey;">GTP model ::</h5>
            <img src="../static/img/promptanswer_LBI_1.gif" style="margin-top:8px; margin-left:0px; max-width: 100%;"> </img> <!-- class="delayed-image"-->
        
    </div>
</div>

<!-- 
<style>
    .delayed-image {
        opacity: 0; /* Initially, set the image's opacity to 0, making it invisible. */
        animation: fadeIn 40s forwards; /* Use the fadeIn animation with a 2-second duration. Adjust as needed. */
    }

    @keyframes fadeIn {
        to {
            opacity: 1; /* Gradually increase the opacity to 1, making the image fully visible. */
        }
    }
</style> -->
