

<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3);">
         
        <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            NETWORK LEGEND</h5>
        
        <br>
        <div class="gradient"></div><br>
        
        <div id='graphinfo'></div>

        <br>

        <div style="height:auto;"> Node color description </div>
        <div class="one column" id="legend_nodecolor" style="padding-bottom:20px; padding-right:35px;"></div> 
        <div style="padding-bottom:20px;" id="legend_nodedescription"></div>
        
        <div style="clear: both"> Link color description </div>
        <div> work in progress. </div>
        <div class="four columns" id="legend_linkcolor"></div> 
        <div class="eight columns" id="legend_linkdescription"></div>
        
        <br><br>

        <img id='legendpanel' style='width:100%'>

        <br><br>

        <!-- <div id='htmlplot' style='width:100%'></div> -->
        
    </div>
</div>