<mc-module id="module-node-search" name="Node Search">
        <p id="searchcount" style="font-size: 15px; color: rgb(255, 255, 255); margin-top:0px; padding-left:10px; padding-right: 10px; margin-bottom: 0px; text-indent: 10px; float: right; ">
            [-]</p>
        <mc-TextInput id="search" container="scrollbox2" type="textinput" fn="search"></mc-TextInput>
        <button id="searchbutton1" class="swagButton" onclick="nodesearch()">GO</button>   
        <mc-scrollbox id='scrollbox2'></mc-scrollbox>
</mc-module>
<script>
function nodesearch() {
    var text = document.getElementById("search").shadowRoot.getElementById("text").value;
    socket.emit('ex', { usr:uid, id: "search", parent: "scrollbox2", fn: "search", val:text});
}
</script>