<mc-module id="module-nodePaint" name="nodePaint">
     

        <!-- heading removed: mc-module already renders the name from its `name` attribute in shadow DOM -->
        <div class="gradient"></div>
        <br>

        <mc-slider id="slider-brush_size" name="BRUSH SIZE" class="GD" type="slider"></mc-slider>
        <br>
        <mc-colorbox id="nodePaintColorInput"></mc-colorbox>

        <mc-button1 id="labelSuggest" name="Suggest Label" fn="labelSuggest"></mc-button1>
        <mc-scrollbox id="labelSuggestBox"></mc-scrollbox>

</mc-module>