

<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(16, 3, 0, 0.3);">
         
        <h5 style="  float:left; font-size: 25px;  color: rgb(102, 102, 102); margin-top:5px; margin-bottom:5px;">
            ANALYTICS</h5>
        <br>
        <div class="gradient"></div>

            <div>
                <img src="../static/img/RWR.png" style='width:100%'></img>           

                <!--<img src="../static/img/DOCK2.png" style='width:100%'></img>  -->         
            </div>
        <div>

        </div>
    </div>
</div>