<h5 id = 'browser' style= "visibility: hidden; white-space: nowrap;"></h5>
<div id="warning" style='font-size: 20px; color:rgb(255,0, 0)'></div>
<button onclick="reconnect()" id="disconnected" value="DISCONNECTED"
            style="width:250px; color: rgb(255, 255, 255); background-color: red;">
            "DISCONNECTED"</button>
<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(0, 10, 20, 0.3);">
        <mc-dropdown id="projDD" class="PD" type="dropdown" fn="dropdown"
            name="PROJECT"></mc-dropdown>
        <p id="nodecount" style="font-size: 15px; color: rgb(255, 255, 255); margin-top:0px; padding-left:10px ; margin-bottom: 0px; text-indent: 10px;  ">1234 NODES</p>
        <p id="linkcount" style="font-size: 15px; color: rgb(255, 255, 255); margin-top:0px; padding-left:10px ; margin-bottom: 0px; text-indent: 10px;  ">1234 LINKS</p>
    </div>

</div>
<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(0, 10, 20, 0.3);">
        <mc-button1 id="backwardstep" parent="" val="" name="&#60&#60" fn="ue4"></mc-button1>
        <mc-button1 id="forwardstep" parent="" val="" name="&#62&#62" fn="ue4"></mc-button1>    
    </div>
</div>
<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(10, 0, 10, 0.3);">
        <mc-dropdown id="layoutsDD" class="GD" type="dropdown" fn="dropdown"
            name="LAYOUTS"></mc-dropdown>
        <br>
        <mc-dropdown id="layoutsRGBDD" class="GD" type="dropdown" fn="dropdown"
            name="LAYOUTS RGB"></mc-dropdown>
    </div>
</div>
<div class="gradientBox">
    <div class='swagBox' style="width:420px; background-color: rgba(10, 10, 0, 0.3);">
        <mc-dropdown id="linksDD" class="GD" type="dropdown" fn="dropdown"
            name="LINKS"></mc-dropdown>
        <br>
        <mc-dropdown id="linksRGBDD" class="GD" type="dropdown" fn="dropdown"
            name="LINKS RGB"></mc-dropdown>
    </div>
</div>