<link href="{{ url_for('static', filename='css/NavBar.css') }}" rel="stylesheet" />
<script src="{{ url_for('static', filename='js/navbar.js') }}" type="text/javascript"></script>
<div class="twelve columns">
    <a href="/home" class="navbar">
        <div class="six colums">
            <img class="six colums" src="{{ url_for('static', filename='img/networkicon-white-small.png') }}" alt="Logo"
                width="40px" height="40px" style="float: left;">
        </div>
        <div class="six colums">
            <h5 style="padding-top:0.5%;">VRNetzer</h5>
        </div>
    </a>
</div>
<hr style="margin:0;">