<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
</link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
</link>

  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">


<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/variableListener.js') }}"></script>
<script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
<script src="{{ url_for('static', filename='js/util.js') }}"></script>
<script src="{{ url_for('static', filename='js/connect_socketIO_main.js') }}"></script>


<script src="{{ url_for('static', filename='js/three.js') }}"></script>
<script src="{{ url_for('static', filename='js/OrbitControls.js') }}"></script>
<script src="{{ url_for('static', filename='js/webGL_preview.js') }}"></script>

{% include 'templates.html' %}
<html>

<body style="margin:0px; overflow: hidden;" class="unselectable">

 
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            init();
            animate();
            right();
            //doAjaxThings(pfile); //is called from connect socketio
            // create and manipulate your DOM here. doAjaxThings() will run asynchronously and not block your DOM rendering
    
        });
    </script> 


    <div id='label'
        style='z-index: 2; position: absolute; top: 0; left: 0; color:white; margin-left: 10px; font-size: 30px;'></div>
    <div id="preview"
        style="z-index: 10; position: absolute; top: 0; left: 0; color:white; padding-left: 0px; padding-right: 0px;  background-color: #0000009d;  width: 426px; ">

        <div id="outer" style="height: 100vh; overflow: auto;">
            {% include 'mProject.html' %}
        
            {% include 'mLegend.html' %}


        </div>

        <div id="outer" style="height: 100vh; overflow: auto; display:None">  
            
            <!-- IMPORTANT: here all panels should be included to not 
            raise an error but be included and hidden -->
            {% include 'mNodesearch.html' %}
            {% include 'mNodeinfo.html' %}
            {% include 'mConnections.html' %}
            {% include 'mSelections.html' %}
            {% include 'mClipboard.html' %}
            {% include 'mAnalytics.html' %}
            {% include 'mEnrichment.html' %}
            {% include 'mAnnotations.html' %}
            {% include 'mLayout.html' %}
            {% include 'mVRrooms.html' %}
            {% include 'mDebug.html' %}


            {% for ext in extensions["ext"] %}
            {% for key in ext.keys() %}
            {% if "column" in key %}
            {% for module in ext[key]%}
            {% include module %}
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>


    </div>
</body>


</html>