<!-- PUT YOUR UI ELEMENTS IN HERE AND DEFINE MAPPINGS IN MyUi.js -->

<!-- HTML STARTS HERE -->

<!DOCTYPE html>
<html>


<style>
  input[type='file'] {
    outline: none;

  }
</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/NavBar.css') }}">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI_JSON.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI_new.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
</head>

<body>
  <div id="tabsUL"><a href="upload.html" id="" title="upload"></a>
    <!--upload-->
    <ul id="uploadTabs">
      <li>
        <a href="#fragment-1">
          <img draggable="false" onmousedown="return false" height='40' width='40'
            src="{{ url_for('static', filename='css/images/upload.png') }}" />
        </a>
      </li>
    </ul>
    <div id="fragment-1">
      <form id="upload_formJSON" method=post enctype=multipart/form-data>
        <div class="twelve columns">
          <div class="eight columns">
            <h2 class="lineglowslow" style="margin-top:30px">VRNetzer</h2>
          </div>
          <div class="four columns">
            <div class="swagLogo"><br></br></div>
          </div>
        </div>
        <div>Check out the new webGL preview!</div>
        <input onclick="followLink('/main')" type="button" value="webGL preview" style="height: 50px; width: 250px;min-width: fit-content;" />
        <br>
        <div class="twelve columns">
          <h3><span>UPLOAD NEW DATA</span></h3>
          <p>For filestructure refer to the Example File Download Links below.</p>
        </div>

        <!--++++++++++++++++++++++++++++++++++++++++++++++++++++++++
                      Project + Namespace Dropdown
        +++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

        <div class="twelve columns">
           
            <!-- REMOVE option "add to project" 
              
              <div class="frameBox" style="width: 420px">
              <div class="two columns">
                <input type="radio" name="namespace" value="existing" checked ><br>
              </div>
              <h5> ADD TO PROJECT</h5>

              <br>

              <div class="cornerBox">
                <select name="namespaces" id="namespaces">
                  {% for namespace in namespaces %}
                  <option value="{{namespace}}">{{namespace}}</option>
                  {% endfor %}
                </select>
                <br>

              </div>

            </div> -->
          
          <br>

          <div class="frameBox"  style="width: 420px">
            <h5>CREATE NEW PROJECT</h5>
            <!--<div class="two columns">
            <input type="radio" name="namespace" id="radio_new_namespaceJSON" value="New" ></input>
            </div>
            <br>
            <h5>CREATE NEW PROJECT</h5> -->     
            <br>
            <input type="text" name="namespace" id="new_namespace_nameJSON" class="swagBox" style="width: 385px;"></input>
            <p id="submit_warnings" style="display:inline"></p>

          </div>
        </div>

        <div class="frameBox" style="width:420px">
          <div class="twelve columns">
            <h5>GRAPH JSON FILE</h5>
            <a style="font-size:14px" target="_blank" href="../static/examplefiles/Upload_examples_JSON/ZacharyGraph_JSON/ZacharysKarateClub0.json">View Example File here</a>
            <br>
            <a style="font-size:14px" href="../static/examplefiles/Upload_examples_JSON/ZacharyGraph_JSON/ZacharysKarateClub0.json" download>Download Example File here</a>
            <input type=file name=graphJSON multiple></input><br><br>
            
          </div>
        </div>
        <br>
        <div class="frameBox" style="width:420px">
          <div class="twelve columns">
            <input type=submit value=Upload id=upload_buttonJSON class="swagSubmit"></button>
            <br><br>
            <div id="upload_message"></div>
            <br>


          </div>
        </div>
      </form>
    </div>

  </div>



</body>