<!-- PUT YOUR UI ELEMENTS IN HERE AND DEFINE MAPPINGS IN MyUi.js -->

<!-- HTML STARTS HERE -->

<!DOCTYPE html>
<html>


<style>
  input[type='file'] {
    outline: none;

  }
</style>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/NavBar.css') }}">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI_JSON.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/upload_UI_new.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/mc_UI_Elements.js') }}"></script>
</head>

<body> 
  <div style="margin-left: 30px; margin-top: 30px;"> <!--id="tabsUL"><a href="upload.html" id="" title="upload"></a>-->

    <!-- <ul id="uploadTabs">
      <li>
        <a href="#fragment-1">
          <img draggable="false" onmousedown="return false" height='40' width='40'
            src="{{ url_for('static', filename='css/images/upload.png') }}" />
        </a>
      </li>
    </ul> -->

    <div id="fragment-1">
      <form id="upload_formJSON" method=post enctype=multipart/form-data>
        <div class="twelve columns">
          <div class="eight columns">
            <h2 class="lineglowslow" style="margin-top:30px">DataDiVR</h2>
          </div>
        </div>

        <div class="twelve columns">
          <h3><span>UPLOAD NEW DATA</span> <span style="color:rgb(60,60,60)"> / JSON UPLOAD</span></h3>
          <p style="color:grey">For filestructure refer to the Example File Download Links below.</p>
        </div>

        <div class="four columns">
          
          <div class="gradientBox" style="background:none">
            <div class="swagBox" style="background-color: rgba(0, 10, 20, 0.3);">
              <h5>CREATE NEW PROJECT</h5>  
              <br>
              <input type="text" name="namespaceJSON" id="new_namespace_nameJSON" class="swagBox"></input>
              <p id="submit_warnings" style="display:inline"></p>
            </div>
          </div>
        </div>

        <div class="four columns">
          <div class="gradientBox" style="background:none">
            <div class="swagBox" style="background-color: rgba(0, 10, 20, 0.3);">
              <h5>GRAPH JSON FILE</h5>
              <a target="_blank" href="../static/examplefiles/Upload_examples_JSON/ZacharyGraph_JSON/ZacharysKarateClub0.json">View Example File here</a>
              <br>
              <a href="../static/examplefiles/Upload_examples_JSON/ZacharyGraph_JSON/ZacharysKarateClub0.json" download>Download Example File here</a>
              <input type=file name=graphJSON multiple></input><br>
              <br>
              <h5><span>LEGEND FILES</span> <span style="font-size:14px">(optional)</span></h5>
              <input type="file" name="legendFiles" multiple></input><br>
            </div>
          </div>
        </div>

        <div class="four columns">
          <div class="gradientBox" style="background:none">
              <div class="swagBox" style="background-color: rgba(0, 10, 20, 0.3);">
              <input type=submit value=Upload id=upload_buttonJSON class="swagSubmit"></button>
              <br>
              <div id="upload_message" style="font-size:14px;"></div>
              <br>
              <div style="font-size:14px">Check out the new webGL preview!</div>
              <input onclick="followLink('/main')" type="button" value="webGL preview" style="height: 50px; text-align: justify" /> <!-- style="height: 50px; width: 250px;min-width: fit-content;" -->
        
            </div>
          </div>
        </div>
      
      </form>

    </div>

  </div>

</body>