

<!DOCTYPE html>
<html>
<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
</link>
<link rel="stylesheet" href="{{ url_for('static', filename='css/SwagStyle.css') }}">
</link>

<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>
<script src="{{ url_for('static', filename='js/variableListener.js') }}"></script>
<script src="{{ url_for('static', filename='js/connect_WebUI.js') }}"></script>
<script type="text/javascript" src="{{ url_for('LUI.static', filename='js/connect_socketIO_lui.js') }}"></script>

{% include 'templates.html' %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    .row {
        display: flex;
    }

    .column {
        flex: 12%;
        padding: 1px;
    }

    html,
    body {
        background-color: '#ffffff';
        overflow: hidden;
    }
</style>

<body class="unselectable"> 
    <div id="languageUI">   
        <!-- <mc-module id="languageUI" name="ASSISTANT ENGINE"> -->
        <h1>Welcome <span id="userid"></span> !</h1>

        <mc-scrollbox id='scrollboxLUI' style="--scrollbox-width: auto; --scrollbox-height: auto"> </mc-scrollbox>
        <button id="clearbutton" class="swagButton" onclick="clearChat()" style="float:right; margin-top:10em">CLEAR</button>
        
        <mc-TextInput id="LUItextinput" type="textinput" fn="textinput" ></mc-TextInput>
        <button id="searchbuttonLUI" class="swagButton" onclick="processQuery()">GO</button>

        <!-- </mc-module> --> 
    </div>
</body>

</html>

<script>

    function clearChat(){
        document.getElementById("scrollboxLUI").shadowRoot.getElementById("box").innerHTML = '';
    }

    function processQuery(){
        var text = document.getElementById("LUItextinput").shadowRoot.getElementById("text").value;
        var chatwin = document.getElementById("scrollboxLUI").shadowRoot.getElementById("box");
        var username = document.getElementById("userid").innerText;

        fetch("/LUI/languageUI_process", {
                method: "POST",
                body: JSON.stringify({
                    usr: username,
                    text: text,
                    }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
                })
                .then((response) => response.json())

                .then((json) => {
                    console.log("C_DEBUG: LUI Response from server:", json);

                    //chatwin.innerHTML += `<br><b>HUMAN | ${username}</b>: ${text}<br><br>`;
                    //chatwin.innerHTML += `<b>DATA | Response:</b> ${json.response.feedback}<br><hr>`;

                    chatwin.innerHTML += `<br><b> HUMAN | ${text}<br><br>`;
                    chatwin.innerHTML += `<b> D A T A | ${json.response.feedback}<br><hr>`;  

                    
                    chatwin.scrollTop = chatwin.scrollHeight;
                    document.getElementById("LUItextinput").shadowRoot.getElementById("text").value = '';
                });
                
    }

    // Add event listener for Enter key
    document.getElementById("LUItextinput").shadowRoot.getElementById("text").addEventListener("keydown", function(event) {
        if (event.key === "Enter") {
            processQuery();
        }
    });

    // Change the placeholder text for the specific element
    document.addEventListener("DOMContentLoaded", function() {
                var specificElement = document.getElementById("LUItextinput");
                var shadowRoot = specificElement.shadowRoot;
                var textArea = shadowRoot.getElementById("text");
                
                textArea.placeholder = "Type something. e.g. 'Open project teapot.' ...";
    });


    
    // // Show or hide the scrollbox and clear button based on input
    // document.getElementById("LUItextinput").shadowRoot.getElementById("text").addEventListener("input", function(event) {
    //     var text = event.target.value.trim();
    //     var scrollbox = document.getElementById("scrollboxLUI");
    //     var clearButton = document.getElementById("clearbutton");

    //     if (text.length > 0) {
    //         scrollbox.style.display = "block";
    //         clearButton.style.display = "block";
    //     } else {
    //         scrollbox.style.display = "none";
    //         clearButton.style.display = "none";
    //     }
    // });


</script>